@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<p>Log in using your Media-Publisher account or your registered account</p>
@using (Html.BeginForm())
{

    @Html.Label("Emailaddress:")
    <br />
    @Html.TextBox("EmailAddress")
    <br />
    @Html.Label("Password:")
    <br />
    @Html.Password("Password")
    <br />
    <input type="submit" value="Login" />
}

@Html.ActionLink("Register","Signup","Security")
