@{
    ViewBag.Title = "Signup";
}

<h2>Signup</h2>

@using (Html.BeginForm("Signup", "Security"))
{
    @Html.Label("Full Name")<br />
    @Html.TextBox("fullName")<br />
    @Html.Label("Emailaddress:")<br />
    @Html.TextBox("EmailSignup")<br />
    @Html.Label("Password:")<br />
    @Html.Password("PasswordSignup")<br />
    @Html.Label("Confirm Password:")<br />
    @Html.Password("ConfirmPassword")<br />
    <input type="submit" value="Sign up" />
}