@model ZiberTranslate.Web.ViewModels.TranslationsViewModel
           
@{
    ViewBag.Title = "Home";
}

@section Scripts {
<script src="@Url.Content("~/Scripts/search-watermark.js")"></script>
}

<h1>Welkom op Translate.ziber.nl</h1>
@if (Context.User.Identity.IsAuthenticated)
{ 
<p>Logged in as: @(HttpContext.Current.User.Identity.Name)</p>
<br />
<br />
}
@Html.ActionLink("Login", "Login", new { controller = "Security", returnUrl = this.Context.Request.Url.PathAndQuery })
<p>|</p>
@Html.ActionLink("Logout", "Logout", "Security")

@if (Context.User.Identity.IsAuthenticated && Model.Rank == 0)
{
    <p>|</p>
    @Html.ActionLink("Review user changes", "Index", "Admin")
}

<div class="search">
@using (Html.BeginForm())
{
    <p class="search">
        <input type="text" id="UserSearch"  /><br />
        <input type="submit" value="Search" />
    </p>
}
</div>

@{Html.RenderAction("Index", "TranslateSet");}
