@model ZiberTranslate.Web.ViewModels.TranslationsViewModel

@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script>
        window.loggedin = @(Context.User.Identity.IsAuthenticated.ToString().ToLower());
    </script>
    <script type="text/javascript">
        window.redirect = "@(Url.Action("Login", new { controller = "Security", returnUrl = this.Context.Request.Url.PathAndQuery }))";
        window.prevPage = "@(Request.UrlReferrer.PathAndQuery)";

        function reloadPage() {
            location.reload();
        }
    </script>
<script src="@Url.Content("~/Scripts/translations.js")"></script>
}

<h2></h2>
@Html.ActionLink("Login", "Login", new { controller = "Security", returnUrl = this.Context.Request.Url.PathAndQuery })
|
@Html.ActionLink("Logout", "Logout", "Security")
<br />
<br />

<h3>
    <a href="/">HOME</a>
    >>
    <a href="/TranslateSet?language=@Model.Language">CATEGORIEN</a>
    >>
    <a href="#" onclick="reloadPage()">@Model.Name (@Model.Language.ToUpper())</a> 
</h3>

@Html.ActionLink("Review changes", "Index", "Changeset")
    

        <ol class="stats">
            <li class="needs-review">
                <dl>
                    <dt>
                        Needs Review
                    </dt>
                    <dd>
                        <a href="@Url.RouteUrl("Translations", new {setId = @Model.SetId, language = @Model.Language, filter = "NeedsReview" })">@Model.NeedsReview</a>
                    </dd>
                </dl>
            </li>
            <li class="untranslated">
                <dl>    
                    <dt>
                        Needs Translation
                    </dt>
                    <dd>
                        <a href="@Url.RouteUrl("Translations", new {setId = @Model.SetId, language = @Model.Language, filter = "NeedsTranslation" })">@Model.NeedsTranslation</a>
                    </dd>
                </dl>
            </li>
            <li class="reviewed">
                <dl>
                    <dt>
                        Reviewed
                    </dt>
                    <dd>
                        <a href="@Url.RouteUrl("Translations", new {setId = @Model.SetId, language = @Model.Language, filter = "Reviewed" })">@Model.Reviewed</a>
                    </dd> 
                </dl>
            </li>
            <li class="selected all">
                <dl>
                    <dt>
                        All
                    </dt>
                    <dd>
                        <a href="@Url.RouteUrl("Translations", new {setId = @Model.SetId, language = @Model.Language, filter = "All" })">@Model.AllTranslations</a>
                    </dd>
                </dl>
            </li>
        </ol>    

        <table id="table" class="translations">
            @foreach(var t in Model.Translations)
            {
                Html.RenderPartial("TranslationRow", t);
            }
        </table>
