@model ZiberTranslate.Web.ViewModels.TranslationsViewModel

@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script>
        window.loggedin = @(Context.User.Identity.IsAuthenticated.ToString().ToLower());
    </script>
    <script type="text/javascript">
        window.redirect = "@(Url.Action("Login", new { controller = "Security", returnUrl = this.Context.Request.Url.PathAndQuery }))";
        window.prevPage = "@(Request.UrlReferrer.PathAndQuery)";

        function reloadPage() {
            location.reload();
        }
    </script>
    <script src="@Url.Content("~/Scripts/translations.js")"></script>
}

@Html.Partial("Breadcrumb", Model)

@Html.ActionLink("Review changes", "Index", "Changeset")

<section id="filtering">
    <ul class="stats">
        <li class="needs-translation">
            <a href="@Url.RouteUrl("Translations", new {setId = @Model.SetId, language = @Model.Culture.TwoLetterISOLanguageName, filter = "NeedsTranslation" })">@Model.NeedsTranslation</a>
            <span class="label">Onvertaald</span>
        </li>
        <li class="needs-review">
            <a href="@Url.RouteUrl("Translations", new {setId = @Model.SetId, language = @Model.Culture.TwoLetterISOLanguageName, filter = "NeedsReview" })">@Model.NeedsReview</a>
            <span class="label">In afwachting</span>
        </li>
        <li class="reviewed">
            <a href="@Url.RouteUrl("Translations", new {setId = @Model.SetId, language = @Model.Culture.TwoLetterISOLanguageName, filter = "Reviewed" })">@Model.Reviewed</a>
            <span class="label">Beoordeeld</span>
        </li>
        <li class="all">
            <a href="@Url.RouteUrl("Translations", new {setId = @Model.SetId, language = @Model.Culture.TwoLetterISOLanguageName, filter = "All" })">@Model.AllTranslations</a>
            <span class="label">Totaal</span>
        </li>
    </ul>
</section>

<table id="table" class="translations">
    @foreach(var t in Model.Translations)
    {
        Html.RenderPartial("TranslationRow", t);
    }
</table>
