@model ZiberTranslate.Web.ViewModels.TranslationsViewModel

@{
    ViewBag.Title = "Index";
}

@section scripts {
<script src="@Url.Content("~/Scripts/translationsLoggedIn.js")"></script>
}

<h2></h2>
@Html.ActionLink("Login", "Login", "Security")
|
@Html.ActionLink("Logout", "Logout", "Security")
<br />
<br />

<h3>
    <a href="/">HOME</a>
    >>
    <a href="javascript:javascript:history.go(-1)">CATEGORIEN</a>
</h3>

@Html.ActionLink("Review changes", "Index", "Changeset")
    

        <ol class="stats">
            <li class="needs-review">
                <dl>
                    <dt>
                        Needs Review
                    </dt>
                    <dd>
                        <a href="#">@Model.NeedsReviewing</a>
                    </dd>
                </dl>
            </li>
            <li class="untranslated">
                <dl>    
                    <dt>
                        Needs Translation
                    </dt>
                    <dd>
                        <a href="#">@Model.NeedsTranslations</a>
                    </dd>
                </dl>
            </li>
            <li class="reviewed">
                <dl>
                    <dt>
                        Reviewed
                    </dt>
                    <dd>
                        <a href="#">@Model.Reviewed</a>
                    </dd> 
                </dl>
            </li>
            <li class="selected all">
                <dl>
                    <dt>
                        All
                    </dt>
                    <dd>
                        <a href="#">@Model.AllTranslations</a>
                    </dd>
                </dl>
            </li>
        </ol>    

        <table id="table" class="translations">
            @foreach(var t in Model.Translations)
            {
                Html.RenderPartial("TranslationRow", t);
            }
        </table>
