@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

    <body>
        <header id="header">
            @RenderSection("header", false)
        </header>
        <section id="page">
            @RenderBody()
        </section>
        
        @Scripts.Render("~/bundles/libs.js")
        @RenderSection("scripts", false)
    </body>
</html>
