@using System.Web.Optimization
<!DOCTYPE html>
<html ng-app="TranslateApp">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

    <body ng-controller="InitCtrl">
        <header id="header" ng-hide="!!hideHeader" ng-controller="HeaderCtrl" bindonce>
            <div class="float-box float-box-right">
                <span  class="username" bo-text="user.username"></span>
                <a class="button button-lightblue" ng-click="login()" ng-hide="isAuthenticated">Login</a>
                <a class="button button-lightblue" ng-click="logout()" ng-show="isAuthenticated">Logout</a>
                <a class="button button-lightblue">Instellingen</a>

            </div>
        </header>
        <section id="page">
            @RenderBody()
        </section>
        
        @Scripts.Render("~/bundles/libs.js")
        @Scripts.Render("~/bundles/app.js")
        @RenderSection("scripts", false)
    </body>
</html>
